<h1>Project Manager</h1>
<a ui-sref="projects">Home</a> | <a ui-sref="projects.new">Create Project</a> | <a ui-sref="projects.search">Search</a>

<hr>

<h2>Current Projects</h2>

<div data-ng-repeat="project in vm.projects | filter: { completed: false} ">

  <a ui-sref="projects.detail({ projectId: project.id })">
  <h3>
    <span data-ng-bind="project.name"></span> -
    <span data-ng-bind="project.task"></span> -
    <span data-ng-bind="project.date | date : 'mediumDate' "></span> {{vm.isDue(project.date)}}
  </h3>
  </a>

  <button ng-click="project.counter = project.counter + 1">Click Me</button>
    Clicks: {{project.counter}}

</div>

<h2> Completed Projects</h2>
<div data-ng-repeat="project in vm.projects | filter: { completed: true } " >

  <a ui-sref="projects.detail({ projectId: project.id })">
  <h3>
    <span data-ng-bind="project.name"></span> -
    <span data-ng-bind="project.task"></span> -
    <span data-ng-bind="project.date | date : 'mediumDate' "></span>
  </h3>
  </a>
</div>



<hr>

<ui-view></ui-view>
