<h1>Project Manager</h1>
<a ui-sref="projects">Home</a> | <a ui-sref="projects.new">Create Project</a> | <a ui-sref="projects.search">Search</a>

<hr>

<!--<input type="checkbox" ng-model="search.completed">-->
<!--<a data-ng-repeat="project in projects | filter:search" ui-sref="projects.detail({ projectId: project.id })">-->

<!--  <h3>-->
<!--    <span data-ng-bind="project.name"></span> --->
<!--    <span data-ng-bind="project.task"></span> --->
<!--    <span data-ng-bind="project.date | date : 'mediumDate' "></span>-->
<!--  </h3>-->
<!--</a>-->

<h2>Current Projects</h2>
<a data-ng-repeat="project in vm.projects | filter: { completed: false} " ui-sref="projects.detail({ projectId: project.id })">

  <h3>
    <span data-ng-bind="project.name"></span> -
    <span data-ng-bind="project.task"></span> -
    <span data-ng-bind="project.date | date : 'mediumDate' "></span> {{vm.isDue(project.date)}}
  </h3>
</a>

<h2> Completed Projects</h2>
<a data-ng-repeat="project in vm.projects | filter: { completed: true } " ui-sref="projects.detail({ projectId: project.id })">

  <h3>
    <span data-ng-bind="project.name"></span> -
    <span data-ng-bind="project.task"></span> -
    <span data-ng-bind="project.date | date : 'mediumDate' "></span>
  </h3>
</a>

<hr>

<ui-view></ui-view>
